.questionContainer{
  padding: 15px;
  width: 800px;
  height: 300px;
  display: grid;
  place-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.66);
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  gap: 10px;
}
#question{
  height: 70px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #647663;
  height: 10px;
  width: 40px;   
  border-radius: 15px; 
}
#ratingInput[type="range"] {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  cursor: pointer;
  width: 15rem;
  height: 10px;
  border-radius: 15px;
  background: #cddadf;
}

#ratingValue{
  font-size: 18px;
}

.btn{
  padding: 10px;
  width: 160px;
  background: transparent;
  border: 2px #647663 solid;
  color: #647663;
  transition: 0.3s;
}

.btn:hover{
  background-color: #647663;
  color: white;
}
.chartBlock{
  /* width: 80vw; */
  display: grid;
  /* justify-content: center; */
  /* place-items: center; */
  /* height: 90vh; */

}
.chartContainer{
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
  margin: 20px;
  width: '40vw';
  height: '40vh';
}
.skills,.education,.occupationsData,.skillChartData{
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.66);
}

/* .chartContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 20; 
  padding: 25px;
} 

.skills {
  grid-column: 1 / 3; 
  grid-row: 1 / 2;
  border: 1px solid #000;
}

.education {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: 1px solid #000;
  width: 50% !important;
  height: 50% !important;
}

.occupationsData {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 1px solid #000;
}

.footer {
  grid-column: 1 / 3; 
  grid-row: 3 / 4;
  border: 1px solid #000;
}  */
